doctype html
html
  head
    title revisit.link
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='stylesheet', href='/css/main.css')

  body
    header
      div
        h1
          a(href="/") revisit.link.hub
            span !
        h2 An API playground.

    .wrapper
      block content
