extend layout

block content
  section
    ul.display
      if images.length > 0
        for image in images
          li
            img(src='#{image.value.message}')
      else
        li No images found!