extend layout

block content
  section
    a(href='/#{token}/play', id='replay', class='button replay', onclick='this.className="off"') &#8667;
      span Replay!

    if result
      div.result
        img(src='#{result}')
