extend layout

block content
  section.final
    if result
      .button-row
        a.button(href='/#{token}/play', class='replay') Replay
        a.button(href='#' id='imgur') Post to imgur
        a(class='tumblr', href='http://revisitron.tumblr.com', target='_blank') Think this image is awesome?<br/>Submit it to Tumblr!

      div.result
        img(src=result)
