extend layout

block content
  section
    ol.services-added
      for service in services
        li= service

    .button-row
      a.button(href='/#{token}/play') Replay

    if result
      div.result
        img(src=result)
