/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'MaximumSecurity';
  src: url('../fonts/MAXIMUMSECURITY.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f1f1f1;
  color: #555;
  font-family: Arial, sans-serif;
}

*::selection {
  background: #666;
  color: #eee;
}

*::-moz-selection {
  background: #666;
  color: #eee;
}

header {
  background-color: #333;
  background-image: url(../images/back.jpg);
  width: 100%;
}

header > div {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.button {
  float: right;
}

.button.reset {
  float: left;
}

.button {
  border: 0;
  color: #444;
  cursor: pointer;
  font-size: 3.2rem;
  margin: 20px 0 30px;
}

.button:hover {
  color: #1ae09d;
}

.button span {
  font-size: 3.2rem;
  padding-left: 10px;
}

h1, h2, h3, button, .path, .menu a, .display li {
  font-family: MaximumSecurity;
}

.display li {
  font-size: 3rem;
}

h1 {
  font-size: 2.8rem;
}

h1 a span {
  display: none;
}

h1 a {
  color: #4ef5ff;
}

h1 a:hover {
  color: #1ae09d;
}

h1 a:hover span {
  display: inline;
}

header h2 {
  color: rgba(255, 255, 255, 0.7);
}

h2 {
  color: #0ba9c5;
  font-size: 1.7rem;
  margin: 10px 0 10px 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

body.error {
  background-image: url(../images/error.gif);
}

body.error section h2 {
  font-size: 2.7rem;
  margin-bottom: 40px;
}

body.error section h1 {
  font-size: 3.8rem;
  text-transform: uppercase;
}

.token {
  color: #1ae09d;
  display: inline;
  font-size: 1.2rem;
  padding: 5px 5px 20px 5px;
}

section {
  border-radius: 2px;
  margin: 10px 0;
  max-width: 900px;
  padding: 10px 0 0;
}

section > * {
    font-weight: 100;
}

.error section {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: none;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

section p, section li {
  color: #666;
  font-size: 1.3rem;
  line-height: 2rem;
}

section li:first-child {
  border: 1px solid #0ba9c5;
}

section li {
  border-bottom: 1px solid #0ba9c5;
  border-left: 1px solid #0ba9c5;
  border-right: 1px solid #0ba9c5;
  padding: 5px 10px;
}

section li.online {
  cursor: pointer;
}

section li.online:hover {
  background-color: #a1edec;
}

section li span:last-child {
  line-height: 0.6rem;
}

section h3 {
  color: #222;
  font-size: 2.2rem;
  margin: 25px 0 15px;
}

h3 a.replay, h3 a.replay span {
  font-size: 4rem;
}

h3 a.replay {
  color: #3abe47;
}

a {
  color: #15acba;
  text-decoration: none;
}

.description img {
  display: inline;
  margin-left: 10px;
  position: absolute;
  width: 50px;
}

.url {
  display: none;
}

.services-added {
  font-size: 0.8rem;
  margin: 20px 0;
}

.status {
  color: #e14a4a;
  display: inline-block;
  float: left;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-right: 20px;
}

.online .status {
  color: #26cc7c;
}

.description {
  color: #444;
  font-size: 1.7rem;
  line-height: 3.1rem;
  position: relative;
}

.content {
  border: none;
  clear: both;
  color: #2ececc;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1.8rem;
  margin: 10px 0;
  padding: 5px;
  width: 90%;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
}

.menu a {
  background-color: #d9f32c;
  color: #111;
  font-size: 1.5rem;
  padding: 5px;
  text-transform: uppercase;
}

.menu a:hover {
  background-color: #fff;
  color: #111;
}

#photo {
  visibility: hidden;
}

#create {
  color: #3abe47;
  display: none;
}

#create.on {
  display: inline;
}

.result {
  margin: 20px 0;
}

.repository {
  font-size: 1rem;
}

ul.display {
  margin-top: 30px;
}

ul.display li {
  border: none;
}

footer p {
  color: #777;
}

@media only screen and (max-width: 460px) {
  section {
    padding: 0 10px;
  }

  canvas {
    width: 300px;
  }
  #service-list li .status {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: 10px;
  }

  #service-list li {
    clear: both;
    margin: 0 auto;
    width: 300px;
  }

  .description {
    font-size: 1rem;
    line-height: 2.2rem;
  }

  .description img {
    width: 20px;
  }

  .button, .button span {
    font-size: 2.5rem;
  }

  .result img {
    width: 300px;
  }
}
